<!DOCTYPE html>
<html lang="en" th:xmlns="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<div class="container">
    <h1 th:text="${error}" class="text-danger">Error</h1>
    <a th:href="@{/}" href="#">Back to Home</a>
</div>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>